/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

#perfil, #biografia, #proyectos {
    padding: 2rem 0;
}

#foto-perfil {
    max-width: 150px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
.carousel {
    position: relative;
    width: 100%;
    div {
        overflow: hidden;
        width: 100%;
        ul {
            overflow: hidden;
            position: relative;
            width: 200%;
            li {
                overflow: hidden;
                position: relative;
                float: left;
                width: 350px;
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
            li + li {
                margin-left: 30px;
            }
        }
    }
    ol {
        li {
            position: absolute;
            top: 50%;
            margin-top: -25px;
            &.prev {
                left: 0;
                button {
                    &:after {
                        content: '\276e';
                    }
                }
            }
            &.next {
                right: 0;
                button {
                    &:after {
                        content: '\276f';
                    }
                }
            }
            button {
                overflow: hidden;
                position: relative;
                width: 50px;
                height: 50px;
                background-color: rgba(255, 255, 255, 0.8);
                span {
                    position: absolute;
                    top: -100000px;
                }
                &:after {
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: block;
                    width: 50px;
                    line-height: 50px;
                    text-align: center;
                    font-size: 30px;
                    color: #000;
                }
            }
        }
    }
}